exclude messenger.*

include LICENSE
include config.ini
include README.md
include requirements.txt
include setup.cfg
include scripts/publish-notebook

include pymatbridge/messenger/src/messenger.c

include pymatbridge/messenger/mexa64/
include pymatbridge/messenger/mexmaci64/
include pymatbridge/messenger/mexw64/
include pymatbridge/messenger/mexa64/

include pymatbridge/matlab/messenger.mex
include pymatbridge/matlab/messenger.mex.zmq3
include pymatbridge/matlab/messenger.mexmaci64
include pymatbridge/matlab/messenger.mexmaci64.zmq3
include pymatbridge/matlab/util/json_v0.2.2/json/java/json.jar
include pymatbridge/matlab/util/json_v0.2.2/LICENSE

include *.ipynb
include *.m
include *.py
